@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    /*pattern*/
    background-color: #f5dfec;
    background-image: linear-gradient(0deg, #ffeaf2 50%, #fdcde1 50%);
    background-size: 50px 20px; 
    box-sizing: border-box;
    
}
.image {border-radius: 16px;}

.border {
    border-radius: 20px;
    border-style: dashed;
    border-width: 6px;
    border-color: #f97dbb;
}
.main {
    display: flex;
    flex-direction: column;
    
    /*border*/
    /*border-radius: 20px;
    border-style: dashed;
    border-width: 6px;
    border-color: #f97dbb;*/
    border-radius: 20px;
    border-width: 6px;
    border-color: #e68eb1d3;
    border-style: dashed;
    justify-content: center;
    
    /*background-color: rgba(254, 250, 234, 0.797);*/
    background-color: #fff7fc;
    width: 672px;
    height: 400px;

    /*centering */
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    align-items: center;
    /*centering */


}


div#title img {margin: 10px;}

#title {
    font-family: 'Abril Fatface', serif;
    color:/*#ce427cad */ rgba(255, 162, 182, 0.902);
    font-size: 36px;
    margin: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 40px;
    border-color: #f2bfdf54;
    background-color: #f2bfdf1d ;
}

button {
    height: 30px;
    width: 96px;
    margin: 8px 20px;
    transition: 0.2s;
    background-image: linear-gradient(180deg, rgba(248, 193, 211, 0.963), rgb(251, 215, 149));
    background-color: (249, 228, 188);
    color: #f7f7f7;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    
}

button:hover {
    background-image: linear-gradient(180deg, rgba(251, 215, 149), rgba(251, 215, 149));
    transform: scale(1.05);
    
}
.buttons {
width: 40%;
}

#no {
  position: absolute;
}

#jumpscare-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; 
}
